:root {
  --accent-color: #2ad18a;
  --text-color: #000000;
  --accent-text-color: #ffffff;
  --secondaty-text-color: #9da3ae;
  --buble-color: #e8eaed;
}

@font-face {
  font-family: "League Gothic";
  src: url("../assets/fonts/LeagueGothic-Regular-VariableFont_wdth.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-VariableFont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter";
  font-weight: 400;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: auto;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 15px 24px 14px;
}
.header__logo {
  color: var(--accent-color);
  font-weight: 600;
  font-size: 24px;
  font-family: "Poppins";
  padding-left: 8px;
}

.button {
  padding: 10px 24px;
  background: var(--accent-color);
  color: var(--accent-text-color);
  font-weight: 600;
  font-size: 14px;
  border-radius: 8px;
  outline: none;
  border: 0;
  justify-self: end;
}

.header__links {
  justify-self: center;
  display: flex;
  gap: 16px;
}

.link {
  padding: 0 8px;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  color: var(--text-color);
  text-decoration: none;

}


.section {
    margin-top: 40px;
}