:root {
  --accent-color: #2ad18a;
  --text-color: #000000;
  --accent-text-color: #ffffff;
  --secondaty-text-color: #9da3ae;
  --buble-color: #e8eaed;
}

@font-face {
  font-family: "League Gothic";
  src: url("../assets/fonts/LeagueGothic-Regular-VariableFont_wdth.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-VariableFont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 15px 24px 14px;
}

.header__logo {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: var(--accent-color);
  padding-left: 8px;
}

.header__links {
  display: flex;
  gap: 16px;
  justify-self: center;
}

.link {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
  text-decoration: none;
  padding: 0 8px;
}

.button {
  padding: 10px 24px;
  height: 40px;
  background: var(--accent-color);
  color: var(--accent-text-color);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  border-radius: 8px;
  outline: none;
  border: 0;
  cursor: pointer;
  justify-self: end;
}

.section {
  margin-top: 40px;
  margin-bottom: 80px;
}

.articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.main-article__img {
  width: 620px;
  display: block;
  margin-bottom: 24px;
}

.main-article__title {
  font-family: "League Gothic", sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 1.1;
}

.main-article__subtitle {
  margin-top: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
}

.top-articles__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

.top-articles__title {
  padding-left: 48px;
  margin-bottom: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
  text-transform: capitalize;
  color: var(--accent-color);
}

.article {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.article__number {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: var(--accent-color);
  width: 32px;
  height: 32px;
  background: var(--buble-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.article__content {
  width: 355px;
}

.article__title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.4;
  color: var(--text-color);
  margin-bottom: 8px;
}

.article__author {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 8px;
}

.article__info {
  display: flex;
  gap: 16px;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  text-transform: uppercase;
  color: var(--secondaty-text-color);
}

.article__info__comments {
  display: flex;
  align-items: center;
}

.vertical-line {
  display: block;
  width: 1px;
  height: 24px;
  background: var(--secondaty-text-color);
}

.article_img {
  display: block;
}

.comment__img {
  margin-right: 10px;
}

.article__img {
  width: 200px;
}

.stories {
  padding-bottom: 80px;
}

.stories__grid {
  display: grid;
  grid-template-columns: repeat(4, 290px);
  gap: 40px;
}

.story-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.story-card__title {
  font-family: Inter;
  font-weight: 700;
  font-size: 22px;
  line-height: 140%;
  color: var(--text-color);
}

.story-card__subtitle {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: var(--text-color);
}

.footer {
  padding: 80px;
}

.footer__logo {
  font-family: Poppins;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: var(--text-color);

  margin-bottom: 24px;
}

.footer__links {
  display: flex;
  list-style: none;
}

.footer__link {
    margin-right: 5px;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-color);
}
